@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');


*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,body,main{
    font-family: 'Noto Sans Lao',Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root{
    --borda-degrade:#B76A66;
    --header-footer: #28211e;
    --degrade: linear-gradient(to right, #df7e7a 0%,#B76A66 33%,#B96B67 66%,#8F5553 100%);
    --fonte-clara: #ffffff;
    --font-texto: #000000;
    --visivel: none;
    

}

/*
    HEADER START
*/

.headercontainer{
    align-items: center;
    background-color: var(--header-footer);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 10px;
    text-align: center;

}


#headermob{
    display:block;
    height:84px;
}



#headermenu{ 
    align-content: center;
    align-items: center;
    background-color: #000000c2;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    justify-items: center;
    margin-top: 10px;
    padding: 2px;
}

#buttonlogins{ 
    font-size: clamp(0.85em,1vw,1.5em);   
    width: 270px;
    margin-top: 10px;

}



header li{list-style: none;}
header nav a{ 
    display: var(--visivel);
    background-color: #00000050;
    color: #ffffff;
    font-size: clamp(0.85em,1vw,1.5em);
    text-decoration: none;
    width: 310px;
    
}

header nav a:hover{
    background-color: #ffffff10;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}

.headerfullbutton{
    background-image: var(--degrade);
    border: solid 1px #B76A66;
    border-radius: 16px;
    color: var(--fonte-clara);
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    text-shadow: 2px 2px  #00000050;
}

.headerfullbutton:hover{
    background-image: none;
    filter: brightness(1.1);
    margin-inline: 5px;
    transition: all 0.3s ease;
    

}

#headerbuttonentrar{ 
    background-image: none;
    border-radius: 5px;  
    
}

#headerbuttonentrar:hover{
    background-image: var(--degrade);
}

@media screen and (max-width: 600px){   
    #headerdesktop{display: var(--visivel);}

    #headermenuul{display: var(--visivel);}

    #buttonlogins{display: var(--visivel);}

    #headermob{
        height:84px;
        width: 250px;
    }
    #buttonlogins{ margin: 15px 0 5px 0;}

}

@media screen and (min-width: 600px) and (max-width: 999px){ 
    #headernav{order:2;}
}



@media screen and (min-width: 1000px){       
    #headermob{width: 350px;}

    #headermenu{display: none;}

    .headercontainer{
        flex-wrap: nowrap;
        justify-content: space-between; 
    }

    header ul{
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        width: calc(100vw - 700px);       
    }

    header nav a{
        background-color: var(--header-footer);
        display: inline;
        margin-inline: clamp(0.85em,1vw,1.5em);
        width: 100vw;
    }
}



/*
    HEADER END
*/



/*
    FOOTER START
*/




footer a:hover{text-decoration: underline;}

.rodapeupper a{display: block;}

span{font-size: clamp(0.85em,1vw,1.5em);}

#redesociais{
    border-bottom: 3px solid white;
    font-weight: bolder;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer a { margin: 5px;}

footer h1{ font-size: clamp(1em, 10vw, 2em);}

#footercontainer{
    background-color: #28211e;    
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
    height: clamp(100vh, 100vh, 500px);
    place-content: center center;
    place-items: center center;
}

.setor1{
    background-image: linear-gradient(to bottom, #E5BDAD, #c87d60d7);
    height: 100%;
    padding: 20px;
    text-align: center;
    width: 100%;

}
.setor1 a {
    color:black;
    display: block; 
    text-decoration: none;
}

.setor2 *{
    color:white;
    text-align: center;
}


#footermob{
    display:block;
    width: clamp(32px,30vw,350px);
}

.social{ margin-inline: 40px;}


@media screen and (max-width:700px) {
    #footercontainer{
     grid-template: repeat(6,1fr) / repeat(1,1fr);
     height: clamp(1000px,150vh,150vh);    
    }

    .case{padding: 20px 10px;}

    #footermob{ width: 300px;}

    .setor1{background-image: linear-gradient(to right, #E5BDAD, #c87d60d7);}

    .cel4{grid-area: -3/1/-2/-1;}

    .cel5{grid-area: -2/1/-1/-1;}
}

/*
    FOOTER END
*/



